---
version: '2'

services:
  redis:
    image: redis:3.2-alpine
    ports:
      - '6379:6379'

  api:
    build: .
    command: rackup -s puma --host 0.0.0.0 -p 4567 config.ru
    volumes:
      - '.:/usr/src'
    ports:
      - '4567:4567'
    environment:
      RACK_ENV: development
    dns:
      - 10.0.0.10
      - 8.8.8.8
    depends_on:
      - 'redis'

  worker:
    build: .
    command: bundle exec sidekiq -r ./lib/providers/vmware/vmware_worker.rb
    volumes:
      - '.:/usr/src'
      - 'data:/data'
    environment:
      RACK_ENV: development
    dns:
      - 10.0.0.10
      - 8.8.8.8
    depends_on:
      - 'redis'
      - 'api'

volumes:
  data:
